

.header{
  height: 60px;
  background-color: blue;
  &__main{
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 60px;
  }
}

.index{
  &__left{
    background-color: #7a7575;
    height: 100vh;
    &__container{
      margin: 10px;
      &__profile{
        height: 100px;
        background-image: url("/profile.jpg");
        display: flex;
        padding: 15px;

        &__avatar{
          width: 70px;
          margin-right: 15px;
          background-color: #fff;
          border-radius: 70px;
          .avatar{
            border: .1px solid red;
            border-radius: 70px;
          }
        }
        &__name{
          line-height: 70px;
        }
      }
      &__menu{
        margin-top: 15px;
        background-color: white;
      }
      &__ranking{
        background-color: #fff;
        padding-top: 15px;
        height: 300px;
      }
    }
    
  }
  &__right{
    &__graph{
      // height: 500px;
      // background-color: rgb(193, 229, 186);
      // text-align: center;
      // line-height: 500px;
    }
    .btn{
      display: block;
      width: 200px;
      margin: 0 auto;
      margin-top: 30px;
    }
  }
}

.landing{
  h1{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
  }
  p{
    text-align: center;
  }
  hr{
    width: 300px;
    height: 2px;
  }
  &__top{
    margin: 80px 0;
  }
  &__reason{
    &__block{
      padding: 30px;
      &__left{
        img{
          display: block;
          margin: 0 auto;
        }
      }
      &__right{
        line-height: 240px;
      }
      .btn{
        display: block;
        width: 200px;
        margin: 0 auto;
        margin-top: 30px;
      }
    }
  }
}



.form{
  &__course{
    margin: 0 auto;
  }
}